# iris 붓꽃 data  
    - 붓꽃의 품종을 분류
    - Feature: 꽃잎 길이, 너비, 꽃받침 길이, 너비
    >> 품종 예측

In [1]:
import sklearn
print(sklearn.__version__)

0.24.1

In [2]:
from sklearn.datasets import load_iris
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split

#### 데이터셋 로드

In [3]:
import pandas as pd
# Data load
iris = load_iris()

# feature X
iris_data = iris.data

# target Y
iris_label = iris.target
print('iris target값: ', iris_label)
print('iris target명: ', iris.target_names)

# DataFrame 변환
iris_df = pd.DataFrame(iris_data, columns=iris.feature_names)
iris_df['label'] = iris.target
iris_df.head()

iris target값:  [0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 2 2 2 2 2 2 2 2 2 2 2
 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2
 2 2]
iris target명:  ['setosa' 'versicolor' 'virginica']

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),label
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0

#### Train, Test셋 분리

In [4]:
# train, test set split
# feature, target, ratio, 
X_train, X_test, y_train, y_test = train_test_split(iris_data, iris_label, test_size=0.2, random_state=11)

#### Train셋 학습 수행

In [5]:
# DecisionTreeClassifier 객체 생성
dt_clf = DecisionTreeClassifier(random_state=11)

# 학습 수행
dt_clf.fit(X_train, y_train)

DecisionTreeClassifier(random_state=11)

#### Test셋 예측 수행

In [6]:
# 예측
pred = dt_clf.predict(X_test)

In [7]:
pred

array([2, 2, 1, 1, 2, 0, 1, 0, 0, 1, 1, 1, 1, 2, 2, 0, 2, 1, 2, 2, 1, 0,
       0, 1, 0, 0, 2, 1, 0, 1])

In [16]:
# 정확도 평가
from sklearn.metrics import accuracy_score
acc = accuracy_score(y_test, pred)
print("Acc: {0:.4f}".format(acc))

Acc: 0.9333